.home-section-title{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.home-section-title img{
    width: 15vw;
}
.home-section-title h2{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.7rem;
}
.cards-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .card img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
  }
  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 10px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 20px;
  }
  .carousel-inner {
    padding: 1em;
  }
  .carousel-control-prev,
.carousel-control-next {
  background-color: #cccccc;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

  .carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 50%;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #ffffff;
    text-align: center;
    opacity: .4;
}
.product-category{
    margin: 30px 0;
    display: flex;
    justify-content: space-evenly;
}
.product-category img{
    width: 40vw;
    cursor: pointer;
}
.product-category img:hover{
    transform: scale(1.1);
    transition: 0.2s ease-out;
    overflow: hidden;
}
.category-name{
    display: flex;
    justify-content: space-evenly;
    gap: 80px;
}
.category-name h2{
    font-family: 'Nunito Sans', sans-serif;
    cursor: pointer;  
}
.category-name h2:hover{
    color: maroon;
    transform: scale(0.95);
    transition: 0.2s ease-out;
}
.button-01{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
#btn-01{
    padding: 7px 35px;
    border-radius: 8px;
    background-color: rgb(50, 50, 50);
    color: #ffffff;
    margin-bottom: 20px;
}
#btn-01:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transform: scale(1.1);
    transition: 0.3s ease-out;
}